<div class="row fav-container">
    <div class="col-md-12">

        <ul class="cat-list col-centered">

                <div class="col-centered">
                <li><span>Category 2 <span class="cat-expand">+</span></span>

                       <ul class="fav-list">
                           <div class="col-md-12 col-centered">
                            <li><a href="#">Topic 1</a></li>
                            <li><a href="#">Topic 2</a></li>
                            <li><a href="#">Topic 3</a></li>
                            <li><a href="#">Topic 4</a></li>
                            <li><a href="#">Topic 5</a></li>
                            <li><a href="#">Topic 6</a></li>
                               </div>
                        </ul>

                </li>
                    </div>


                <div>
                    <li><span>Category 2 <span class="cat-expand">+</span></span>

                       <ul class="fav-list">
                           <div class="col-md-12 col-centered">
                            <li><a href="#">Topic 1</a></li>
                            <li><a href="#">Topic 2</a></li>
                            <li><a href="#">Topic 3</a></li>
                            <li><a href="#">Topic 4</a></li>
                            <li><a href="#">Topic 5</a></li>
                            <li><a href="#">Topic 6</a></li>
                               </div>
                        </ul>

                    </li>
                  </div>



        </ul>

    </div>
</div>