<script src="{{ STATIC_URL }}js/ajax-favourites.js"></script>

<div class="row fav-container">
    <div class="col-md-12">

        <ul class="cat-list">
            {% if categories %}
                    {% for category in categories %}

                        <li>
                        <input type="checkbox" class="fav-check" id="{{ category.id }}" />
                        <label for="{{ category.id }}">
                            <span id="cat_name">
                            {{ category.name }}
                            </span>

                            {% if category.shared %}
                                <img src="{{ STATIC_URL }}icons/shared_ico.png" class="share-icon"/>
                            {% else %}
                                <img src="{{ STATIC_URL }}icons/not_shared_ico.png" class="share-icon"/>
                            {% endif %}
                            <img src="{{ STATIC_URL }}icons/rename_ico.png" class="rename-icon"/>
                            <img src="{{ STATIC_URL }}icons/delete_ico.png" class="delete-icon"/>

                        </label>

                           <ul class="fav-list">

                                    <div class="col-md-12 fav-page-container">
                                        {%  if category.saved %}
                                            {% for result in category.saved %}
                                                <li><a href="{{ result.url }}">{{ result.title }}</a> <img data-id="{{ result.id }}" src="{{ STATIC_URL }}icons/delete_ico.png" class="fav-delete-icon"/></li>
                                            {% endfor %}

                                        {% else %}
                                            <strong> No saved pages in this category.</strong>
                                            <br />
                                        {% endif %}
                                   </div>
                            </ul>
                    </li>

                    {% endfor %}

            {% else %}
                <strong>No Categories currently in category.</strong>

                <br />
            {% endif %}

                    <label id="add-cat" class="add-cat">
                            Add new category...
                    </label>

        </ul>
    </div>
</div>