{% extends 'explorer/base.html' %}

{% load staticfiles %}

{% block body_block %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/auto-complete.js"></script>
	<div class="row " >


        <div class="col-md-6 search-vertical-align">
    		<!--<h2 class="search-text">Search</h2>-->
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <span class="input-group-btn">
                         <form class="form-inline" id="search_form" method="post" action="{% url 'results' %}">
                             {% csrf_token %}

                                 <div class="col-md-2 no-gutter">
                                 <button id ='search_button' class="btn btn-info btn-lg" type="submit">
                                        <i class="glyphicon glyphicon-search"></i>
                                 </button>
                                 </div>
                                 <div class="col-md-10 no-gutter">
                                     <label for="search_box"></label>
                                 <input id="search_box" name="query" type="text" class="form-control input-lg" placeholder="Search..." />
                                 </div>

                         </form>

                    </span>

                </div>
            </div>
        </div>

	</div>



{% endblock %}