<script src="{{ STATIC_URL }}js/ajax-shared.js"></script>
<script src="{{ STATIC_URL }}js/showonhover.js"></script>

<div class="row fav-container">
    <div class="col-md-12">

        <input  id="search52" name="q" type="text" placeholder="Search..." value="{{ query }}"/>

        <p class="sidebar-header"> Shared Categories</p>

        <ul class="cat-list">

            {% if shared_categories %}
                    {% for category in shared_categories %}

                        <li>
                        <input type="checkbox" class="fav-check" id="{{ category.id }}" />
                        <label for="{{ category.id }}">
                            <span id="cat_name">
                            {{ category.name }}
                            </span>
                            <span class="small-type">Shared by: {{ category.user }}</span>
                        </label>


                           <ul class="fav-list">

                                    <div class="col-md-12 fav-page-container">
                                        {%  if category.saved %}
                                            {% for result in category.saved %}
                                                <li><a href="{{ result.url }}">{{ result.title }}</a>
                                                <img data-id="{{ result.id }}" src="{{ STATIC_URL }}icons/more_ico.png" class="fav-more-icon"/>
                                                </li>

                                            {% endfor %}

                                        {% else %}
                                            <strong> No saved pages in this category.</strong>
                                            <br />
                                        {% endif %}
                                   </div>
                            </ul>
                    </li>

                    {% endfor %}

            {% else %}
                <strong>No shared user defined categories.</strong>

                <br />
            {% endif %}

        </ul>
    </div>
</div>