
{%  block javascript_files %}
            <script src="{{ STATIC_URL }}js/input-script.js"></script>
{% endblock %}

<div class="row">
        <div class="predefined-terms-info">
             <span id="test" class="glyphicon glyphicon-question-sign"> <span class="popup" ><strong>Click on one of the predefined terms below <br />
        to include it in your query.</strong></span> </span>
        </div>

        <div class="col-xs-6 col-md-6 vertical-center"> <!-- required for floating -->
        <!-- Nav tabs -->
        <ul class="predefined-search-tabs">
            <li><a  href="#treatments" data-toggle="tab">Treatments</a></li>
            <li class="active"><a href="#medicines" data-toggle="tab">Medicines</a></li>
            <li><a href="#symptoms" data-toggle="tab">Symptoms</a></li>
        </ul>
        </div>

        <div class="vdivider"></div>

        <div class="row stretch">
            <div class="col-xs-offset-6 col-xs-6 col-md-offset-6 col-md-6 vertical-center ">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane" id="treatments">
                        <ul class="predefined-search-tabs">
                            {% for tnp in treatandproc %}
                                <li><a  href="#">{{ tnp }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-pane active" id="medicines">
                        <ul class="predefined-search-tabs">
                            {% for med in medicines %}
                                <li><a  href="#">{{ med }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-pane" id="messages">Messages Tab.</div>
                </div>
            </div>
        </div>
    </div><!-- /row -->