body { padding-top: 70px; }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.stretch {
    height: 100%;
}
.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#sidebar {
    background-color: rgba(250,250,250,0.7);
}

#main {
    position: fixed;
    top: 51px;
    left: 0;
    bottom: 0;
    padding: 0px;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: rgba(0,0,0,0.5);
}
/***************************
Favourites List Styling
***************************/

.fav-container {
    padding: 10px;
}

ul.cat-list {
    width:100%;
    list-style:none;
    text-align:center;
}

ul.cat-list li {

}

ul.cat-list > li{
  margin-bottom:15px;
}

ul.cat-list div{
    height: 60px;
}

span.cat-expand {
    float: right;
    font-size: 20px;
    color: black;
    transition: 0.4s;
}

.cat-list div {
    display: block;
}

ul.cat-list li > label{
    background-color: #b1b1b1;
    margin: 0 auto;
    border-radius: 20px;
    display:block;
    clear:both;
    padding:10px 20px;
    transition: 0.4s;
    text-align: left;
    font-size: 18px;
}

ul.cat-list li > label:hover span.cat-expand {
    color: white;
}

ul.cat-list li label:hover{
    background-color: #31b0d5;
    color: white;
    font-size: 20px;
}

ul.fav-list{
    padding: 10px;
}

ul.cat-list ul.fav-list li{

    height: 70px;
    float:left;
    width:70px;
    margin: 10px;

}

ul.cat-list li a{
  background:#5A9BD5;
  display:block;
  width:100%;
  padding:25px 0;
  text-decoration:none;
  transition: 0.4s;
}

ul.cat-list li a:hover{
  background:#cf5;
}

.block {
    display: block;
}

.search-vertical-align {
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col-centered{
    display:block;
    float: none;
    margin: 0 auto;
}

.fav-check {
    display: none;
}

.fav-check ~ ul{
    display: none;
	max-width: 0;
	opacity: 0;
	overflow: hidden;
	white-space:nowrap;
   -webkit-transition:all 1s ease;
   -moz-transition:all 1s ease;
   -o-transition:all 1s ease;
   transition:all 1s ease;
}

.fav-check:checked ~ ul {
    display: block;
	max-width: 100%;
	opacity: 1;
}

.add-cat {
    cursor: pointer;
    background-color: #b1b1b1;
    margin: 0 auto;
    border-radius: 20px;
    display:block;
    clear:both;
    padding:10px 20px;
    transition: 0.4s;
    text-align: left;
    font-size: 18px;
}

.add-cat:hover{
    background-color: #31b0d5;
    color: white;
    font-size: 20px;
}
/**************************
End of favourites styling
**************************/

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.top-text {
    margin-right: 10px;
}

.predefined-search-tabs {

}

.predefined-search-tabs li{
    display: block;
    height: 60px;
    width: 100%;
    text-align: center;
}

.predefined-search-tabs li a{
    transition: all .2s ease-in-out;
    color: #000000;
    font-size: 20px;
    line-height: 50px;
}

.predefined-search-tabs li.active a{
    font-size: 23px;
    text-decoration: none;
}

.predefined-search-tabs li a:hover{
    font-size: 25px;
    text-decoration: none;
}

.vdivider{
    position:absolute;
    left:50%;
    top:40%;
    bottom:40%;
    border-left:1px solid black;
}


a.tooltip span.popup{
  color: #000000;
}

a.tooltip:hover span.popup{
  display: block; position: absolute; width: 200px; background: #aaa; height: 50px; left: 100px; top: -10px; color: #FFFFFF; padding: 0 5px;
}


/***************
Bootstrap overwrite
***************/

a.glyphicon {
    font-size: 20px; /* changes size of icon */
}

.predefined-terms-info span.glyphicon {
    transition: all .2s ease-in-out;
    font-size: 30px;
    margin-left: 20px ;
}

.predefined-terms-info span.glyphicon:hover {
    font-size: 35px;
}

.predefined-terms-info span.glyphicon span.popup {
   z-index:10;
    display:none;
    padding:14px 20px;
    margin-top:-30px;
    margin-left:28px;
    width:300px;
    line-height:23px;
     position:absolute;
    color:#111;
    border:1px solid #DCA;
    background:#ffffff;
    font-size: 20px;
}

.predefined-terms-info span.glyphicon:hover span.popup {
     display: inline;
     }

/*********************
End of bootstrap overwrite
**********************/

/*****************
Search styling
******************/
.search-text{
    color: #f1f1f1;
}

#custom-search-input{

    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    width: 100px;
    box-shadow: none;
    border: 0;
    color: #ffffff;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

/*********************
End of serch styling
**********************/


.light_gg {
  line-height: 100%;
  height:100%;
  background-color: #999999;
}

.light_g {
  margin-top: auto;
  margin-bottom: auto;
   display: flex;
    align-items: center;
  background-color: #888888;
}


.vcenter {
    margin-top: 25%;
    position: absolute;
}

.right {
    float:right;
}

#results-container {
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    overflow-y: auto;

}

/****************
Settings styling
*****************/

.userimg {
    width: 100px;
    height: 100px;
}

.btns {

}
