body { padding-top: 70px; }

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.top-text {
    margin-right: 10px;
}

a.glyphicon {
    font-size: 20px; /* changes size of icon */
}
/*--
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
*/
.vertical-align {
    display: flex;
    align-items: center;
}

.light_gg {
  line-height: 100%;
  height:100%;
  background-color: #999999;
}

.light_g {
  margin-top: auto;
  margin-bottom: auto;
   display: flex;
    align-items: center;
  background-color: #888888;
}


.vcenter {
    margin-top: 22%;
  position: absolute;

    height: 30%;
}

.right {
    float:right;
}

